<div #divRef>I am div</div>

<div>
  <p>I am paragraph in div</p>
</div>

<ng-template #template>
  <div>I am div in template</div>
</ng-template>


<div>I am first div</div>
<ng-container #vc>
  <!-- <p>first el</p>
  <p>second el</p>
  <p>third el</p> -->
</ng-container>
<div>I am last div</div>

<br>

<ng-container *ngTemplateOutlet="template"></ng-container>

<ng-container *ngComponentOutlet="childComponent"></ng-container>   <!-- краще використовувати createComponent -->


<ng-template #template2>
  <div>I am div in template 2</div>
</ng-template>