<app-child-component 
  [template]="appTemplate"
>
<!-- <app-child-component> -->
  <h3 class="header" header2>Header</h3>
  <p class="body">Body</p>
  <footer class="footer menu">Footer & menu</footer>
  <footer class="footer">Footer</footer>
</app-child-component>

<!-- Передача шаблону в дочірній компонент -->
<ng-template #appTemplate let-element>
  <p> {{element}} I am from App component</p>
</ng-template>

<br>
<br>
<hr>
<hr>


<!-- Простий приклад шаблону -->
<ng-template #ref let-prefix let-num="number">
  <p> {{prefix}} I am template {{num}} </p>
</ng-template>

<ng-container *ngTemplateOutlet="ref; context: {number: 258, $implicit: 'Hello, '}"></ng-container>

<!-- <ng-container [ngTemplateOutlet]="ref" [ngOutletContext]="{number: 258, $implicit: 'Hello, '}"></ng-container> -->