<form>
  <input ngModel name="firstName">
</form>

<wizard>
  <div #childStep>Step one</div>
  <div #childStep>Step two</div>
  <div #childStep>Step three</div>


  <div wizardStep>Wizard step one</div>
  <div wizardStep>Wizard step two</div>
  <div wizardStep>Wizard step three</div>
</wizard>