.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .wrapper {
    // ::ng-deep 
    // mat-spinner circle {
    //   stroke: red;
    // }
  }

}

// mat-spinner circle {
//   stroke: red;
// }

// :host {
//   border: solid 1px gray;
//   display: block;
//   padding: 10px;

//   // ::ng-deep
//   // mat-spinner circle {
//   //   stroke: red;
//   // }
// }

// :host-context(.loader-wrapper) {
//   border: solid 1px gray;
//   display: block;
//   padding: 10px;
// }


:host-context(.error) .loader-container {
  border: solid 1px red;
}