<!-- Приклади контенту -->
<ng-content select="[header2]"></ng-content>
<p>Some own component's content</p>
<ng-content></ng-content>
<hr>
<ng-content select=".footer.menu"></ng-content>

<br>
<br>
<hr>
<hr>


<!-- Відображення шаблону, переданого з батьківського компоненту -->
<div *ngFor="let item of [1, 2, 3]">
  <ng-container *ngTemplateOutlet="template || defaultTemplate; context: {$implicit: item}"></ng-container>
</div>

<ng-template #defaultTemplate let-element>
  <p>I am default template {{element}} </p>
</ng-template>