<header class="header">
  <nav class="nav-bar"></nav>
  <div class="header-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</header>

<main>
  <div class="range-wrapper">
    <input type="range">
  </div>
</main>

<div class="loader-wrapper">
  <app-loader></app-loader>
</div>